/* Typography Scale */
/*  
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* ******************** */
/* Spaces */
/* ******************** */
/* 
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
:root {
  --ff-main: "Lexend Deca";
  --ff-sec: "Inter";
  --fs-1: 0.625rem;
  --fs-2: 0.75rem;
  --fs-3: 0.875rem;
  --fs-4: 1rem;
  --fs-5: 1.125rem;
  --fs-6: 1.25rem;
  --fs-7: 1.5rem;
  --fs-8: 1.875rem;
  --fs-9: 2.25rem;
  --fs-10: 2.75rem;
  --fs-11: 3.25rem;
  --fs-12: 3.875rem;
  --fs-13: 4.625rem;
  --fs-14: 5.375rem;
  --fs-15: 6.125rem;
  --sp-1: 0.125rem;
  --sp-2: 0.25rem;
  --sp-3: 0.5rem;
  --sp-4: 0.75rem;
  --sp-5: 1rem;
  --sp-6: 1.5rem;
  --sp-7: 2rem;
  --sp-8: 3rem;
  --sp-9: 4rem;
  --sp-10: 5rem;
  --sp-11: 6rem;
  --sp-12: 8rem;
  --fw-normal: 400;
  --fw-bold: 700;
  --cl-background: rgb(9, 11, 26);
  --cl-primary: rgb(27, 25, 56);
  --cl-accent: rgb(170, 92, 219);
  --cl-main-heading: rgb(255, 255, 255);
  --cl-main-paragraph: rgba(255, 255, 255, 0.75);
  --cl-stats-headings: rgba(255, 255, 255, 0.6);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-size: var(--fs-4);
  font-family: var(--ff-main);
  font-weight: var(--fw-normal);
}

.stats {
  background-color: var(--cl-background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--sp-6);
}

.hero-section {
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 1200px;
  overflow: hidden;
  color: var(--cl-main-heading);
  background-color: var(--cl-primary);
  position: relative;
  border-radius: 10px;
}

.hero-info {
  padding: var(--sp-9);
  padding-right: var(--sp-11);
}

.hero-img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

picture {
  position: relative;
}

picture::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background-color: var(--cl-accent);
  opacity: 0.4;
}

.title {
  font-size: var(--fs-10);
  margin-bottom: var(--sp-7);
  line-height: 1.2;
}

.text-purple {
  color: var(--cl-accent);
}

.text {
  margin-bottom: var(--sp-10);
  line-height: 1.8;
  color: var(--cl-main-paragraph);
}

.stats-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.value {
  font-size: var(--fs-8);
  font-weight: var(--fw-bold);
  margin-bottom: var(--sp-2);
}

.subtitle {
  font-size: var(--fs-3);
  text-transform: uppercase;
  color: var(--cl-stats-headings);
  letter-spacing: 1px;
}

@media (max-width: 68.25rem) {
  .hero-section {
    grid-template-columns: minmax(12.5rem, 37.5rem);
    grid-template-areas: "picture" "info";
  }
  .hero-info {
    padding: var(--sp-9);
    grid-area: info;
    text-align: center;
  }
  .hero-img {
    width: 100%;
  }
}
@media (max-width: 30.375rem) {
  .hero-info {
    padding: var(--sp-7);
  }
  .title {
    font-size: var(--fs-8);
  }
  .text {
    margin-bottom: var(--sp-8);
  }
  .stats-list {
    flex-direction: column;
    gap: 20px;
  }
  .value {
    font-size: var(--fs-7);
  }
}
@media (max-width: 25rem) {
  .hero-info {
    padding: var(--sp-5);
    padding-top: var(--sp-7);
  }
}/*# sourceMappingURL=style.css.map */