@media (max-width: 1092px) {
  .hero-section {
    grid-template-columns: minmax(200px, 600px);
    grid-template-areas:
      "picture"
      "info";
  }

  .hero-info {
    padding: var(--sp-9);
    grid-area: info;
    text-align: center;
  }

  .text {
  }

  .hero-img {
    width: 100%;
  }
}

@media (max-width: 486px) {
  .hero-info {
    padding: var(--sp-7);
  }

  .title {
    font-size: var(--fs-8);
  }

  .text {
    margin-bottom: var(--sp-8);
  }

  .stats-list {
    flex-direction: column;
    gap: 20px;
  }

  .value {
    font-size: var(--fs-7);
  }
}

@media (max-width: 400px) {
  .hero-info {
    padding: var(--sp-5);
    padding-top: var(--sp-7);
  }
}
